<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <div class="header">
      <a href="login" class="link">Login</a>
      <a href="logout" class="link">Logout</a>
    </div>
  </header>
  <h1>{{user.username}}</h1>
</body>
</html>